/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/images
/public/.htaccess
/public/storage
/storage/*.key
/vendor
.htaccess
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
composer.lock
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
